.footer {
  background-color: #2c2b2b;
  text-align: center;
  padding: 60px;
}

.footer a{
  font-size: 30px;
  color: #1edd88;
  margin: 0 5px;
}

.footer p {
  color: rgb(125, 125, 125);
}

.footer .fas {
  color: #ff0011
}
